.top_bar{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.profile_image{
    margin: 10px;
    margin-bottom: 0px;
    margin-right: 12px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.top_bar_icon{
    margin-right: 10px;
}

body{
    background-color: black;
    margin: 0;
}

.name{
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    font-size: 14px;
}

.main .main_image{
    width: 450px;
    height: 550px;
}

.main{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content_bar{
    color: white;
}

.bottom_bar{
    color: white;
}

.state_bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin-bottom: 10px;
}

.state_bar_state{
    margin-left: 10px;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    gap: 25px;
}

.state_bar_bookmark{
    margin-right: 10px;
    font-size: 23px;
}

.content_bar{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.like_text{
    font-size: 15px;
}

.caption{
    font-size: 15px;
}

.date{
    font-size: small;
    color: gray;
}
